astroid==2.4.2
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.3
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
Django==2.2.13
fake-useragent==0.1.11
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
isort==4.3.21
itemadapter==0.1.0
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
mysql-connector-python==8.0.21
mysqlclient==2.0.1
parsel==1.6.0
Protego==0.1.16
protobuf==3.12.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pylint==2.5.3
PyMySQL==0.10.0
pyOpenSSL==19.1.0
pytz==2020.1
queuelib==1.5.0
requests==2.24.0
Scrapy==2.2.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.10
w3lib==1.22.0
wrapt==1.12.1
zope.interface==5.1.0
